<?xml version="1.0" encoding="utf-8" ?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
       package="com.networkstack.overlay">
       <application android:hasCode="false" />
       <overlay android:targetPackage="com.android.networkstack"
	        android:targetName="NetworkStackConfig"
		android:resourcesMap="@xml/overlays" />
</manifest>
